footer.footer(class="dark:bg-body-tertiary")
  div
    a(href='https://coreui.io/product/free-bootstrap-admin-template/') CoreUI Bootstrap Admin Template
    |  &copy; 2023 creativeLabs.
  div
    | Powered by&nbsp;
    a(href='https://coreui.io/docs/') CoreUI UI Components
